spring:
  data:
    redis:
      port: 6379
      host: localhost
      channel:
        follower: follower_channel
        achievement: achievement_channel
        comment: comments_channel
        recommendation: recommendation_channel

  mail:
    host: smtp.gmail.com
    port: 587
    username: p1mafka@gmail.com #https://www.baeldung.com/spring-email
    password: thqxermqgmzrfhbw #генерируем для своего Google аккаунта по инструкции https://support.google.com/accounts/answer/185833
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  messages:
    basename: messages

server:
  port: 8083

logging:
  level:
    root: info


#Можно зарегистрировать аккаунт без привязки карты. Будет 2 евро на отправку тестовых SMS
vonage: #https://dashboard.nexmo.com/getting-started/sms
  api:
    key: ea3cbdef
    secret: t6qqwTma9etW5JwR

brand:
  name: CorporationX

project-service:
  host: localhost
  port: 8082
user-service:
  host: localhost
  port: 8080
