spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost
      channel:
        follower: follower_channel
        achievement: achievement_channel

  mail:
    host: smtp.gmail.com
    port: 587
    username: ami5@tpu.ru #https://www.baeldung.com/spring-email
    password: hqxxqevqgeqhakew #генерируем для своего Google аккаунта по инструкции https://support.google.com/accounts/answer/185833
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    sender:
      email: XCorporation@gmail.com

  messages:
    basename: messages

server:
  port: 8083

logging:
  level:
    root: info

#Можно зарегистрировать аккаунт без привязки карты. Будет 2 евро на отправку тестовых SMS
vonage: #https://dashboard.nexmo.com/getting-started/sms
  api:
    key: whatever
    secret: whatever

project-service:
  host: localhost
  port: 8082
user-service:
  host: localhost
  port: 8080

telegram-bot:
  name: "CorpXtestBot"
  token: "6606365809:AAEmjWeXZ4UfZdr6ETACVxVTGoTPTvERNoc"