spring:
  data:
    redis:
      port: 6379
      host: localhost
      channels:
        follower:
          name: follower_channel
        achievement:
          name: achievement_channel
        like_channel:
          name: like_channel
        event_start_channel:
          name: event_start_channel
        mentorship_accepted_channel:
          name: mentorship-accepted-channel
  mail:
    host: smtp.gmail.com
    port: 587
    username: .pg@gmail.com #https://www.baeldung.com/spring-email
    password: hlhll #генерируем для своего Google аккаунта по инструкции https://support.google.com/accounts/answer/185833
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
    sender:
      email: .pg@gmail.com

  messages:
    basename: messages

server:
  port: 8083

logging:
  level:
    root: info

messages:
  basename: messages

#Можно зарегистрировать аккаунт без привязки карты. Будет 2 евро на отправку тестовых SMS
vonage: #https://dashboard.nexmo.com/getting-started/sms
  api:
    key: 54dc6c7b
    secret: Ib1jPHqLrt39YSXJ
    from: BasiliskTeam
    phone: 31687519767

project-service:
  host: localhost
  port: 8082
user-service:
  host: localhost
  port: 8080
