<configuration>

    <property name="SERVICE_NAME" value="${spring.profiles.active:-default}"/>

    <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%magenta(%thread)] %highlight(%-5level) %cyan(%class{0}) - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
